<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>802945116437-q88t95u4mjsdaickqcumtgq03fdn86tc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.802945116437-q88t95u4mjsdaickqcumtgq03fdn86tc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>802945116437-cv9aobebkf7r5ava13pbhv77nb0qo55c.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAG5ACWJl-VIcAVnJrRWB1I_33F2mIEr6M</string>
	<key>GCM_SENDER_ID</key>
	<string>802945116437</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.fasting-app-rn</string>
	<key>PROJECT_ID</key>
	<string>innofast-eb898</string>
	<key>STORAGE_BUCKET</key>
	<string>innofast-eb898.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:802945116437:ios:4e8afe6f40c010cdf6611c</string>
</dict>
</plist>